.aside {
    min-height: 100vh;
    max-width: 600px;
    width: 17%;
    background-color: #2b2f3e;
    padding: 10px;
}

.aside-title {
    font-size: 2rem;
    color: white;
    margin-top: 20px;
}

.aside-text {
    color: #5b5d63;
}
